<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>게시판</title>
</head>
<body>
게시글 한개 조회

<div style="margin-top: 1rem;">키 : [[${board.boardKey}]]</div>
<div>제목 : [[${board.boardTitle}]]</div>
<div>내용 : [[${board.boardContent}]]</div>
<div>작성자 : [[${board.boardBy}]]</div>

<a th:href="@{/boardUpdate/{id}(id=${board.boardKey})}">수정페이지 이동</a>
<br>
<a th:href="@{/boardPage}">게시판 전체조회</a>
<br>


<br>댓글--</br>
<form action="/comment/commentRegister" method="post">
    <input type="number" hidden name="boardKey" th:value="${board.boardKey}">
    내용 : <input type="text" name="comContent">
    <button type="submit">등록하기</button>
</form>
<br>

<tr th:each="li : ${comment}">
    <td>[[${li.createBy}]]</td>
    <td>[[${li.comContent}]]</td>
    <td>[[${li.createTime}]]</td>
    <form action="/comment/commentDelete" method="post">
        <input type="number" hidden name="boardKey" th:value="${board.boardKey}">
        <input type="number" hidden name="comKey" th:value="${li.comKey}"> <button type="submit">삭제하기</button>
    </form>
        <br>




</tr>


    <br>



</body>
</html>